*.pyc
*.p
*.pt
*.pth
*.log
tmp*
.DS_Store
.venv/
.venv-retriever/
deploy/current.env
.venv-qwen36-judge/
/.cache/
/Search-R1/

/.ipynb_checkpoints/*
.vscode/*
/wandb/*
/logs/
/runs/
.idea/*

/data/*
/corpus/*
/outputs/*
/checkpoints/*
/experiments/*
